---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "src/helpers";
// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
  const personne = await getCollection("personne");
  return personne.map((personne) => ({
    params: { id: personne.id },
    props: { personne },
  }));
}
// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { personne } = Astro.props;
const { Content } = await render(personne);

const profession = personne.data.profession &&[...personne.data.profession];
---



<Layout pageTitle={`Fiche de ${personne.data.nom}`} >
<h1 class="text-2xl text-purple-600" >{personne.data.nom}</h1>
<p>Nationalité : {personne.data.nationalite}</p>
<p>Date de naissance : {formatDate(personne.data.dateNaissance)}</p>
<p>Lieu de naissance: {personne.data.lieuNaissance}</p>
{personne.data.dateDeces && <p>Date de décès : {formatDate(personne.data.dateDeces)}</p>}
{profession && <p>Profession{profession.length>1 &&<>s</>} : {profession.join(", ").replace(/,([^,]*)$/,' et $1')}</p>}



<div class="prose" >
<Content />
</div>
</Layout>